# Pastas build e node_modules
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Test coverage
/coverage
/.nyc_output

# IDEs e editores
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode (exceto arquivos de configuração específicos)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Arquivos dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Arquivos temporários
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Relatórios de diagnóstico node
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
